main.pertama {
    width: 100%;
    background-color: rgb(13, 23, 33);
}

main div.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div.container>* {
    margin-bottom: 20px;
}

main.pertama h1 {
    margin-top: 170px;
    color: #fff;
    font-size: 70px;
    font-weight: 700px;
    line-height: 105px;
    letter-spacing: 2px;
}

main.pertama div.container h3 {
    font-size: 23px;
    color: #ffc0c7;
    line-height: 35px;
    font-weight: 700;
}

main.pertama form {
    position: relative;
}

main.pertama form input[type="text"] {
    width: 450px;
    padding: 13px 0 13px 30px;
    border-radius: 20px;
}

main.pertama form input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
}

main.pertama form input[type="text"]:focus {
    border: none;
    color: black;
    font-size: 14px;
    outline: none;
}

main.pertama div.container form span.search {
    border-radius: 0px 170px 170px 25px;
    padding: 12px 13px 12px 100px;
    background-color: rgb(4, 170, 109);
    position: absolute;
    cursor: pointer;
    right: -2px;
    top: 2px;
    z-index: 2;
}

main.pertama div.container> :last-child {
    text-decoration: underline;
    color: #fff;
    margin-top: 20px;
}